* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading;
}


/* Using the mobile-first approach */

h1 {
  /* Main Title: Big and bold, but scales down on mobile */
  @apply text-4xl md:text-5xl lg:text-6xl font-extrabold tracking-tight text-textPrimary;
}

h2 {
  /* Section Headings: e.g., "Introduction" */
  @apply text-2xl md:text-3xl lg:text-4xl font-bold text-textPrimary;
}

h3 {
  /* Sub-sections */
  @apply text-xl md:text-2xl font-semibold text-textPrimary;
}

p,
li,
a  {
  /* Body Text: The most important for readability */
  @apply text-sm md:text-lg leading-relaxed text-zinc-400 font-body;
}

.meta-text {
  /* Author and Date */
  @apply text-sm font-medium text-zinc-500;
}


body {
	@apply bg-primary;
}

.content p,
li {
	@apply  text-sm md:text-lg text-textPrimary leading-[150%];
}

.content>h3 {
	@apply mt-4;
}

.content a {
	@apply underline;
}

.content pre {
	@apply p-4 rounded-md;
}

code {
	@apply font-heading;
}

.svg-image {
	height: 24px;
	width: 24px;
}

ol {
	@apply list-decimal md:px-8 px-4;
}

article ul{
	list-style: disc;
}

p > code {
	padding: 0.25rem;
	border-radius: 0.25rem;
	background-color: #24292e;
}