---;
import {Color as Elem} from "../../content/components/Color";
---

<!doctype html>
<html>
    <body
        class="h-screen w-screen flex items-center justify-center bg-gray-900 "
    >
        <Elem client:only="react" />
    </body>
</html>
