---
import {DraggableDropDown as Elem} from "../../content/components/DraggableDropDown";
---

<!doctype html>
<html>
    <body
        class="h-screen w-screen flex items-start p-12 justify-center bg-gray-900 pt-20"
    >
        <Elem client:only="react" />
    </body>
</html>
