---
import DropDown from "../../content/components/DropDown";
---

<!doctype html>
<html>
    <body
        class="h-screen w-screen flex items-start justify-center bg-gray-900 pt-20"
    >
        <DropDown client:only="react" />
    </body>
</html>
