---
import SearchBar from "../../components/showcase/SearchBar/SearchBar.jsx";
---

<!doctype html>
<html>
    <body
        class="h-screen w-screen flex items-start justify-center bg-gray-900 pt-20"
    >
        <SearchBar client:only="react" />
    </body>
</html>
