---
import {SearchBar as Elem} from "../../content/components/SearchBar";
---

<!doctype html>
<html>
    <body
        class="h-screen w-screen flex items-start justify-center bg-gray-900 pt-20"
    >
        <Elem client:only="react" />
    </body>
</html>
