---
import Slider from "../../content/components/Slider";
---

<!doctype html>
<html>
    <body
        class="h-screen w-screen flex items-start justify-center bg-gray-900 pt-20"
    >
        <Slider client:only="react" />
    </body>
</html>