---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FloatingIcon from "../components/FloatingIcon.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body  class="bg-[#0a0a0a]">
		<Header />
		<div
			class="flex items-center justify-center w-full h-[calc(100vh_-_120px)] p-4"
		>			
			<div class="flex flex-col items-start justify-center gap-2">
				<h2>Namaste</h2>
				<p class="max-w-[55ch]">
					I am Rishab working as Middleware administrator. I am interested in Distributed Systems, Devops, Cloud Computing and WASM. 
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
