---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div
			class="flex items-center justify-center w-full h-[calc(100vh_-_120px)] p-4"
		>
		<h1>No works to show :(</h1>
		</div>
		<Footer />
	</body>
</html>
