<div
    class="flex items-center justify-center p-2 rounded-[0.575rem] bg-gradient-to-tr from-red-400 to-blue-500 "
>
    <div class="flex items-center justify-center  bg-primary h-16 w-16 aspect-square rounded-[0.375rem] font-heading text-white">
        <slot />
    </div>
</div>
