---

const { listItems } = Astro.props;
import { Markdown } from 'astro-remote';

---



<div class="px-4">
    <ol class="flex flex-col gap-5">
      {listItems.map((item: any) => <li>
        <p><Markdown content={item}/></p>
        </li>)  }
    </ul>
</div>