---
import { Markdown } from "astro-remote";
const { listDesc } = Astro.props;
---

<div class="px-4">
  <ul class="list-disc">
    {
      listDesc.map((item: string) => (
        <li>
          <div class="flex flex-row gap-4 list-disc">
            <Markdown content={item} />
          </div>
        </li>
      ))
    }
  </ul>
</div>
